*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.left-side{
    width: 70%;
    height: 100vh;
    display: inline-block;
    background-image: url(./bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;

}
.right-side{
    width: 29%;
    height: 100vh;
    background-image: url(./hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    
    
}
img{
    position: absolute;
    top: 40px;
    left: 70px;
}
h1{
   
   width: 300px;
   font-size: 70px;
   letter-spacing: 15px;
   text-transform:uppercase;
   font-family: 'Overpass', sans-serif;
   position: absolute;
   top: 150px;
   left: 70px;  
}
h1::first-line{
    color: #af5a35;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: #af5a35;
    line-height: 30px;
    font-family: 'Dancing Script', cursive; 
    position: absolute;
    top: 410px;
    left: 70px;
}
.email{
    color: #af5a35;
    width: 440px;
    height: 40px;
    border-radius: 20px;
    padding-left: 30px;
    font-family: 'Dancing Script', cursive; 
    position: absolute;
    top: 550px;
    left: 70px;
}
.round-btn{
    width: 70px;
    height: 40px;
    color: white;
    background-image: linear-gradient(to bottom right, red, rgb(255, 0, 98));   border-radius: 20px;
    position: absolute;
    top: 550px;
    left: 440px;
    cursor: pointer;
}
